/*
|--------------------------------------------------------------------------
| MENU SECTION
|--------------------------------------------------------------------------
*/

.menu-section{
    margin-bottom:40px;
}

.menu-section-title{

    font-size:20px;
    font-weight:600;

    margin-bottom:16px;

    color:var(--text-primary);

}


/*
|--------------------------------------------------------------------------
| MENU GRID
|--------------------------------------------------------------------------
*/

.menu-grid{

    display:grid;

    grid-template-columns:1fr;

    gap:12px;

    align-items:start;
}

.menu-section{
    margin-bottom:40px;
    position: relative;
}

.menu-section:not(:last-child)::after{
    content:"";
    display:block;
    width:100%;
    height:1px;
    margin-top:24px;

    background: linear-gradient(
        to right,
        transparent,
        var(--line),
        transparent
    );
}


/*
|--------------------------------------------------------------------------
| TABLET
|--------------------------------------------------------------------------
*/

@media (min-width:640px){

    .menu-grid{
        grid-template-columns:repeat(2,1fr);
    }

}


/*
|--------------------------------------------------------------------------
| DESKTOP
|--------------------------------------------------------------------------
*/

@media (min-width:1024px){

    .menu-grid{
        grid-template-columns:repeat(3,1fr);
        gap:16px;
    }

}
